/* Conexion admin */

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}

.container h1 {
    grid-column: 3/7;
    grid-row: 1;
    text-align: center;
    font-family: 'Nixie-One';
    color: #67465B;
}

.formConnexion {
    grid-column: 3/7;
    grid-row: 2/-1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 2em;
    border: #67465B 1px solid;
    padding: 20px;
    font-family: 'Work-Sans';
    
    input {
        font-size: 0.5em;
        border-radius: 3px;
        border: 1px solid #B58086;
    }
}

/* Buttons admin */
.button {
    justify-self: center;
    align-self: center;
    border: 1px solid #B58086;
    border-radius: 3px;
    width: 12rem;
    padding: 7px;
    font-size: 0.5em;
    background-color: #67465B;
    font-family: 'Work-Sans';
    color: #E4DDDF;
}

.button:hover {
    background-color: #E4DDDF;
    color: #67465B;
}

.formConnexion a {
    color: #67465B;
}

.forgotpwd a {
    font-size: 0.5em;
}

.formConnexion p {
    font-size: 1rem;
    color: red;
}


/* Admin 2nd Header */

.titleMenu {
    font-family: 'Work-Sans';
    font-weight: bold;
    text-decoration: underline;
}

#adminHomePage ul {
    margin: 0;
    padding-left: 10px;
}

#adminHomePage ul label.title,
#adminHomePage ul {
    width: 100%;
    color: #67465B;
    font-family: 'Work-Sans';
    display: block;
}

#adminHomePage ul label.title:hover {
    color: #B58086;
}

#adminHomePage ul label {
    height: 35px;
}

#adminHomePage ul li {
    height: 35px;
    overflow: hidden;
    transition: all .3s;
}


input[type="radio"] {
    display: none;
}

#product:checked+li,
#recipe:checked+li,
#passwordChange:checked+li,
#textChange:checked+li {
    height: 80px;
}

/* Admin Home  */
#adminHomePage {
    .divButton {
        display: flex;
        justify-content: space-evenly;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        justify-self: center;
    }
}

#adminHomePage button {
    background-color: #67465B;
    color: #E4DDDF;
    font: 1.1rem 'Work-Sans';
    border: #B58086 1px solid;
    padding: 5px 10px;
    width: fit-content;

}

#adminHomePage button:hover {
    background-color: #E4DDDF;
    color: #67465B;
}

#productForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    gap: 5px;

    label {
        font-family: 'Work-Sans';
    }
}

table {
    border-collapse: collapse;
    width: 80%;
    font-family: 'Work-Sans';
    margin: 0 auto;
}

th,
td {
    border: 1px solid #67465B;
    padding: 8px;
    text-align: left;
    color: #67465B;
    text-align: center;

}

th {
    background-color: #E4DDDF;

}

.oneProduct .nameProduct {
    font-weight: bold;
}

.oneProduct a {
    margin-right: 10px;
    color: #67465B;
}

.oneProduct a:hover {
    color: #B58086;
}

#updateProductForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}


#adminHomePage .messageForm {
    padding: 5px;
    margin: 30px auto;
    text-align: center;
    font-family: 'Work-Sans';
    color: #67465B;
    font-size: 1.3rem;
    width: 25%;
}

.changePwd {
    display: flex;
    flex-direction: column;

}

#changePwdForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    gap: 8px;

    p {
        font-family: 'Work-Sans';
    }
}

#adminHomePage .messagepwd {
    font-family: 'Work-Sans';

}

#editTextForm{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    gap: 5px;

    label {
        font-family: 'Work-Sans';

    }
    input, textarea {
        width: 100%;
    }
}


/* Form for adding recipes */
#gestionRecipes{
    width: 100%;
}
#addRecipeForm{
    font-family: 'Work-Sans';
    color: #67465B;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 5px;

    h2{
        text-align: center;
    }
}



/* Gestion for images */


#uploadForm{
    font-family: 'Work-Sans';
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 5px auto;

    button{
        margin-top: 10px;
    }

}
#gestion-delete-photo{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    
}
.container-photo-delete{
    grid-column: 2/8;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    row-gap: 30px;
}
.deleteImage{
    display: flex;
    flex-direction: column;    
    a{
        font-family: 'Work-Sans';
        color: #67465B;
        text-align: center;

    }
} 

