/* Slide */
#automaticSlide {
    position: relative;
    top: auto;

}

.imgSlide {
    width: 100%;
    height: 800px;
}






/* Products Section */
.productsSection {
    background-color: #e4dddfb3;
    display: grid;
    margin-top: 50px;
    padding-bottom: 18px;

}

.productsSection h1 {
    grid-column: 1 / -1;
    grid-row: 1;
    align-self: center;
    text-align: center;
    color: #67465B;
    font-family: 'Work-Sans';
}

.products{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.productsContainer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    margin-bottom: 18px;

}

.imgProduct {
    height: 280px;
    width: 280px;
    border-radius: 3px;
    filter: drop-shadow(1px 4px 2px #B58086);
    object-fit: cover;
    object-position: center;
}

.divButton {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 3;

    button {
        justify-self: center;
        align-self: center;
        border: 1px solid #B58086;
        border-radius: 3px;
        width: 12rem;
        padding: 7px;
        font-size: 1em;
        background-color: #67465B;
        font-family: 'Work-Sans';
    }

    a {
        text-decoration: none;
        color: #E4DDDF;

    }
}

.divButton button:hover {
    background-color: #e4dddfb3;

    a {
        color: #67465B;
    }
}




/* Responsiveness */
@media (max-width: 1300px) {

    /* Slide */
    .imgSlide {
        height: 600px;
    }

    /* Products */
    .productsSection {
        grid-template-rows: 1fr 4fr 1fr;
    }

    .productsContainer {
        grid-row: 2;
        flex-wrap: wrap;
        gap: 5px;
    }

    .divButton {
        grid-row: 3;
    }
    
}

@media (max-width: 768px) {

    /* Slide */
    .imgSlide {
        height: 250px;
    }

    /* Products */
    .products{
        flex-direction: column;
    }
    .imgProduct img {
        width: 300px;
        height: 400px;
    }

    .productsSection {
        grid-template-rows: 0.5fr 4fr 4fr 0.5fr;
    }

    .productsSection h1 {
        font-size: 1.5em;
        margin: 5px
    }

    .productsContainer {
        grid-row: 2/4;
        flex-wrap: wrap;
        gap: 5px;
    }

    .divButton {
        grid-row: 4;
    }

    
}