/* Products */
.containerText {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.titlePage {
    grid-column: 2/8;
    text-align: center;
    font-family: 'Nixie-One';
    color: #67465B;
}

.textPage {
    grid-column: 2/8;
    text-align: center;
    font-family: 'Work-Sans';
    color: #67465B;
    font-size: 1.1rem;
    a {
    color: #67465B;
}
}

.containerProducts {
    display: flex;
    font-family: 'Work-Sans';
    color: #67465B;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 30px;
    justify-content:center;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    /* height: 400px; */
    border-radius: 3px;
    background-color: #e4dddf;
    filter: drop-shadow(1px 4px 2px #B58086);
    a {
        text-decoration: none;
        color: #67465B;
    }
}

.product img {
    width: 100%;
    border-radius: 3px;
    height: 300px;
    object-fit: fill;
    object-position: center;
}

.product h3 {
    text-align: left;
    align-self: flex-start;
    font-size: 1.1em;
    margin: 5px;
}

.product p {
    text-align: left;
    margin: 5px;
}

/* Search field */
.searchField {
    margin: 20px;
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    grid-column: 7/8;
}

.containerSearch {
    position: relative;
    width: 100%;

}

.inputSearch {
    padding: 10px 35px 10px 10px;
    font-family: 'work-sans';
    border: 1px solid #67465B;
    border-radius: 3px;
    background-color: #e4dddf;
    width: 100%;
    color: #67465B;
}

.iconSearch {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}


/* Product Detail */
.breadcrumb{
    font-family: 'Work-Sans';
    margin: 10px 0 0 10px ;
    a{
        color: #67465B;

    }
}

.containerDetailProduct h1,
h2 {
    font-family: 'Nixie-One';
    color: #67465B;
}

.containerDetailProduct h2 {
    font-size: 1.8rem;
}

.containerDetailProduct {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productDetailTitle {
    font-size: 2rem;
    margin-bottom: 20px;
}

.productContentDetail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100vw;
}

.productTextDetail {
    flex: 1;
    margin-left: 50px;
    margin-right: 100px;
    font-family: 'Work-Sans';
    font-size: 1.2rem;
    word-wrap: break-word;
}

.productImageDetail {
    width: 30%;
    margin-right: 50px;
    filter: drop-shadow(1px 4px 2px #B58086);
    border-radius: 3px;
}

.containerExtraPhotosProduct h1 {
    font-family: 'Nixie-One';
    color: #67465B;
    text-align: left;
    font-size: 2rem;
    margin-left: 50px;

}

.extraPhotosProduct {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 50px;

    p {
        font-family: 'Work-Sans';
        font-size: 1.2rem;
    }
}

.extraPhotosProduct img {
    width: 25%;
    filter: drop-shadow(1px 4px 2px #B58086);
    border-radius: 3px;

}

.contactMessage {
    margin: 50px 18px 0 18px;
    font-family: 'Work-Sans';
    font-size: 1.2rem;
    text-align: center;
    color: #67465B;
    a{
        color: #67465B;
    }
}

/* Responsive */

@media (max-width: 1600px) {}

@media (max-width: 1024px) {
    .product img {
        height: 200px;

    }

}

@media (max-width: 768px) {
    .containerText {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .textPage{
        font-size: 1rem;
        margin-left: 5px;
        margin-right: 5px;
    }
    .products {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 80%;
        margin: 10px;
    }

    .searchField {
        margin: auto;
    }

    .containerSearch {
        width: 80%;
    }

    .product img {
        object-fit: fill;
        object-position: center;
    }

    .productContentDetail {
        display: flex;
        flex-direction: column;
    }

    .productTextDetail {
        margin-left: 18px;
        margin-right: 18px;
    }

    .productImageDetail {
        width: 90%;
        margin: 0 auto;
    }

    .containerExtraPhotosProduct {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .containerExtraPhotosProduct h1 {
        text-align: center;
        margin-left: 0;
    }

    .extraPhotosProduct {
        margin: 0 18px;

        img {
            width: 100%;

        }
    }

}