/* All recipes */
#recipesPage .cards{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;
}

#recipeCard img{
    object-fit: cover;
}

#recipesPage .searchField{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 20px 0 ;
    .containerSearch{
        grid-column: 7/8;
        width: 100%;
        justify-self: right;
    }
}







/* Individual Recipe */
#individualRecipePage .titlePage{
    font-size: 2em;
}


#oneRecipe{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* grid-template-rows:repeat(5, 1fr) ; */
}

.containerRecipe{
    display: grid;
    grid-column: 2/10;
    grid-template-columns: repeat(8, 1fr);
}

.recipePhoto{
    grid-column: 2/5;
    width: 100%;
    img{
        object-fit:cover;
        width:  100%;
        border-radius: 3px;
    }
}

.recipeDetails{
    grid-column: 2/8  ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Work-Sans';
    margin-bottom: 20px;
    padding: 0;
    border: 1px solid #67465B;
    background-color: #E4DDDF;
    border-radius: 3px;
    p:nth-child(even){
        border-left: #67465B 1px solid;
        border-right: #67465B 1px solid;
        padding: 10px 40px;
    }
    p{
        padding: 10px 20px;
        margin: 0px;
    }
    
}

.recipeIngredients{
    grid-column: 5/8;
    justify-self: flex-end;
    margin-left: 10px;
    text-align: right;
    ul{
        padding-left: 5px;
    }
    li{
        list-style-type: none;
        font-family:'Work-Sans' ;
        padding-bottom: 20px;

    }
    h2{
        margin-top: 0;
    }
}

.recipeSteps{
    grid-column: 2/-1;
    li{
        font-family: 'Work-Sans';
        padding-bottom: 20px;

    }
}

.recipeTips{
    grid-column: 2/-1;
    li{
        font-family: 'Work-Sans';
        padding-bottom: 20px;

    }
}





